@import "variables";
@import "function";

$website-width: 1110px;
$main-font-family: "Dosis", sans-serif;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/IMG_3576.JPG");

// General Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font-family;
  line-height: 1.6;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  height: 100%;
}
.caps {
   text-transform: uppercase;
}
.italics { font-style: italic;}
.center {
   text-align: center;
}
.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

.current {
  border-bottom: solid $main-color 2px;
}

.logo {
  width: 180px;
}

%btn-shared {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: none;
  transition: all 0.5s ease- out;
  cursor: pointer;
}
.btn {
  &-main {
    @extend %btn-shared;
    background: $main-color;
    color: $dark-color;
  }
  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: $dark-color;
  }
  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: $light-color;
  }
}
button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background: $main-color;
}

.main-color {
   color: $main-color;
}
.p-q { padding: .25rem;}
.p-half { padding: .5rem;}
.px-1 {padding: 0 1rem;}
.py-half {padding: .5rem 0;}
.py-1 {padding: 1rem 0;}
.py-1h { padding: 1rem 0 .5rem 0;}
.py-2 {padding: 2rem 0;}
.m-top-1 {margin-top: 1rem;}
.one-two-grid {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-gap: 1rem;
}
.duo-grid {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: 1fr 1fr;
}
.tri-grid {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(3, 1fr);
}
.quad-grid {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.skill-card {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.underline {
   height: 2px;
   width: 30px;
   margin: auto;
   background: $main-color;
}
// Showcase
#showcase {
  background: $bg-image no-repeat center center/cover;
  height: 100vh;
  .content-title {
    margin-top: 20%;
    text-align: center;
    height: 60vh;
    color: $light-color;
    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }
    h4 {
      margin: 1rem 0;
    }
  }
}

// Nav Bar
.nav-contents {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  height: 60px;
  align-items: center;
  padding-top: 10px;
  

  .logo-link {
    height: 60px;
  }
  ul {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 0.8rem;
      &:hover {
        border-bottom: $main-color solid 2px;
      }
      &:hover > a {
        color: $light-color;
      }
      a {
        color: $main-color;
      }
    }
  }
}

// About Nav
#about-nav {
   background: $bg-image no-repeat center 44%/cover;
   border-bottom: $main-color solid 2px;
   z-index: 3;
   .about-nav {
      height: 80px;
   }
}

// Skills
.skills {
   background: $light-color;
   opacity: 80%;
   .skills-content {
   }
   
      .skill-card {
         i {
            color: $main-color;
            padding-top: 1rem;
      
         }
      }
   }

.non-container-grid {
   .quad-grid{
      grid-gap: 0;
      .skill-card:nth-of-type(odd) {
         background: $medium-color;}
      .skill-card:nth-of-type(even) {
         background: $light-color;}
      .skill-card {
         margin-top: 1rem;
         height: 160px;
         align-items: center;
         justify-content: center;
      }
   }
}
.window {
   background: $main-color;
   opacity: 0%;
   height: 500px;
   width: 100%;
}
#inset-photo-1 {
   position: fixed;
   top: 0;
   right: 0;
   background: url(../img/M2-5458.jpg) no-repeat center center/cover;
   height: 100vh;
   width: 100vw;
   z-index: -3;
}
.process {
   background: $light-color;
   .process-content {
      .quad-grid {
         .skill-card {
            .l-circle {
               position: relative;
               background: black;
               height: 90px;
               width: 90px;
               border-radius: 50%;
               margin: 1rem auto;
               transition: all .5s ease-in;
               transform: 1.2 height 90px;
               i {position: absolute;
                  right:15px;
                  top:21px;
                  color: white;
                  z-index: 2;
               }
               .s-circle {
                  position: absolute;
                  background: $main-color;
                  top: 0;
                  right: 0;
                  border-radius: 50%;
                  height: 25px;
                  width: 25px;
                  transition: all .5s ease-in;
                  p { color: white;}
               }
               &:hover {
                  background: $main-color;
                  transform: scale(1.2);
               }
               &:hover > .s-circle {
                  background: black;
                  transform: scale(1.05);
               }

            }
            
         }
         .skill-card:nth-of-type(2),
         .skill-card:nth-of-type(3) {
            .l-circle {
               i {
                  right: 18px;
               }
            }
         }
      }

   }
}

// Footer
#footer {
   background: $dark-color;
   height: 80px;
   .footer-content {
      display: flex;
      flex-direction: row;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      p { color: white;}
      .social {
         ul {
            display: flex;
            flex-direction: row;
            li {
               padding: 0 .75rem;
               transition: all .5s;
               a { color: $main-color;
               transition: all .5s;
               opacity: 70%;}
               &:hover {
                  transform: scale(1.2);
               }
               &:hover > a {
                  opacity: 100%;
               }
            }
         }
      }
   }
}
// About About About About About
.one-two-grid {
   #about-headshot {
      background: url(../img/about.jpg) no-repeat center center/cover;
      height: 250px;
      width: 100%;
   }
   .about-blurb {
      background: $medium-color;
      border-left: $main-color solid 2px;
   }
}

// Progress Bar Section
#technical-skills { 
   background: $dark-color;
   color: $light-color;
   height: 430px;
   ul {
      li {
         .progress-bar-base {
            
            background: $medium-color;
            height: 15px;
            width: 100%;
            border-radius: 3px;
            z-index: 1;
            .progress-bar-progress {
               background: $main-color;
               height: 15px;
               border-radius: 3px;
               z-index: 3;
            }
         }

      }
   }
   
}
// Progress styles
.fifty-pct {
   width: 50%;
}
.sixty-pct {
   width: 60%;
}
.seventy-pct {
   width: 70%;
}
.eighty-pct {
   width: 80%;
}
.ninety-pct {
   width: 60%
}

// Partners
#partners {
   background: $medium-color;
   .quad-grid {
      img {
         height: 100%px;
         z-index: 5;
         color: green;
      }
   }
}


// Testimonials 
// Testimonials 
#testimonials {
   .customer-comment {
      border: $dark-color solid 1px;
   }
   .customer-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {padding-left: .75rem;}
      .customer-image {
         padding: .5rem 0;
         img {
            height: 50px;
            border-radius: 50%;
         }
      }
   }
}

// Work-Page Work-Page Work-Page 
#my-work {
   .container {
      .tri-grid:nth-child(2) {
         margin-top: 1.5rem;
      }
      .tri-grid {
         grid-gap: 0;
         box-shadow: 0 5px 10px 2px rgba(0,4,0,0.3);
         
      }
   }
}

.work {
   position: relative;
   background: $main-color;
   overflow: hidden;

   &-image {
      img {
         width: 100%;
      }
   }

   &::after {
      content: '';
      position: absolute;
      display: block;
      background: inherit;
      opacity: 0.9;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(2.5) translateX(-75%) translateY(-75%) rotate(-28deg);
      transition: transform 3s cubic-bezier(0.2,1,0.3,1);
   }
   &:hover::after {
      transform: scale(2.5) translateX(0) translateY(0) rotate(-28deg);
   }
   // Scale image
   &:hover &-image {
      transform: scale(1.2);
   }
   // Bring Txt in on hover 
   &:hover &-text {
      opacity: 1;
      transform: translateY(0);
   }
   &-image {
      transform: translateZ(0);
      transition: transform 750ms cubic-bezier(0.2,1,0.3,1);
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: auto;
         line-height: 0;
      }
   }
   &-image:before {
      content: '';
      display: block;
      padding-top: 75%;
      overflow: hidden;
   }
   &-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      text-align: center;
      z-index: 1;
      color: white;
      transform: translateY(-70%);
      transition: opacity .2s cubic-bezier(0.2,1,0.3,1), transform .5s cubic-bezier(0.2,1,0.3,1);
      transition-delay: .4s, 0s; 
   }
   &-text-wrap {
      position: absolute;
      width: 100%;
      top: 0;
      transform: translateY(100%);

   }
   &-title {
      font-size: 2rem;
      padding: 0 1rem;
      margin:  5px 0 0 0;
   }

   &-catagory {
      font-size: 1.2rem;
      opacity: 0.7;
      margin: 0;
   }
}

// contact me form

#contact-me {
   #contact-me-text-body {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
   input[type=submit] {
      display: block;
      margin: auto;
   }
}
// MY Contact Info
#my-contact-info {
   display: block;
   justify-content: center;
   align-items: center;
   background: $dark-color;
   height: 150px;
   .container {
      height: inherit;
      .contact-content {
         display: flex;
         justify-content: center;
         align-items: center;
         height: inherit;
         .skill-card {
            color: $light-color;
            h4 {padding-top: .5rem;}
         }
      }
   }
}
// Call To Action
#call-to-action {
   background: $main-color;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   h1 {
      font-size: 2.5rem;
      color: $light-color;
   }
}

// Import media quiries
@import 'media';